@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.errorPage__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--main-font);
  background-color: var(--main-color);
  color: var(--secondary-color);
}
